.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 15px 0;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4999;
  @include device(xsm) {
    justify-content: flex-start;
  }

  &__logo {
    margin-top: 5px;
    @include device(xsm) {
      margin: 5px 0 0 10px;
    }
  }
  &__search {
    padding: 18px 0;
    @include device(xsm) {
      display: none;
    }
    @include device(md) {
      margin: 0 auto;
    }
    &--bar {
      width: 550px;
      height: 36px;
      font-family: $family-arial;
      font-size: $font-medium;
      padding: 12px 5px;
      outline: none;
      border: 1px solid $color-blueChill;
      border-radius: 3px;
      @include device(lg) {
        width: 410px;
      }
      @include device(sm) {
        width: 300px;
      }
    }
    &--btn {
      width: 40px;
      height: 36px;
      border: 1px solid $color-blueChill;
      background: $color-blueChill;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      margin-left: -5px;
      padding: 9px 0;
      color: $color-white;
    }
  }
  &__mobile {
    display: none;
    @include device(md) {
      display: block;
      color: $color-blueChill;
      width: 36px;
      height: 36px;
      border-top: 4px solid;
      margin: 25px 240px 0 0;
      float: right;
      position: fixed;
      right: -224px;
      cursor: pointer;
      -webkit-backface-visibility: hidden;
      &::before,
      &::after {
        content: '';
        display: block;
        height: 4px;
        margin-top: 6px;
        background: currentColor;
        position: relative;
        transition: transform .3s ease;
      }
      &.active {
        border-top-color: transparent;
        &:hover {
          color: $color-white;
          transition: all .3s ease;
        }
        &::before {
          margin-top: 0px;
          top: 6px;
          transform: rotate(135deg);
        }
        &::after {
          margin-top: 0px;
          top: 2px;
          transform: rotate(45deg);
        }
      }
    }
    &--menu {
      @include device(md) {
        position: fixed;
        background: none;
        padding: 10px 5px 8px 0px;
        top: 102px;
        right: -10px;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(60px, 0px, 0px);
        transition: .3s;
        @include device(xsm) {
          top: 85px;
        }
        &.active {
          opacity: 1;
          width: 130px;
          visibility: visible;
          transform: translate3d(0px, 0px, 0px);
        }
        li {
          display: block;
          border-top: 2px solid $color-white;
        }
      }
    }
  }
  &__menu {
    @include device(md) {
      background: rgba(0, 0, 0, 0.6);
    }
    &--lista {
      display: flex;
      margin-top: 25px;
      @include device(md) {
        margin: 0;
        @include flex-centered;
        flex-wrap: wrap;
        text-align: center;
      }
      .divisor {
        width: 1px;
        background: $color-white;
        @include device(md) {
          display: none;
        }
      }
      &__item {
        margin-left: 25px;
        @include device(md) {
          padding-bottom: 15px;
          &:hover {
            border-color: $color-blueChill;
          }
        }
        @include device(md) {
          margin-left: 0;
        }
        a {
          color: $color-white;
          font-size: $font-large;
          transition: all .3s ease;
          &:hover {
            color: $color-blueChill;
          }
        }
      }
    }
  }
}