.intro {
  height: 90vh;
  text-align: center;
  padding: 260px 0;
  &__titulo {
    color: $color-white;
    font-family: $family-arial;
    font-size: $font-xxxlarge;
    text-transform: uppercase;
    letter-spacing: .1em;
    @include font-weight-bold;
    &--paragrafo {
      font-family: $family-arial;
      font-size: $font-large;
      color: $color-white;
      text-transform: uppercase;
      letter-spacing: .1em;
      @include font-weight-bold;
      margin: 10px 0;
    }
  }
  &__btn {
    margin-top: 30px;
    a {
      width: 150px;
      height: 35px;
      padding: 12px 12px;
      border: 1px solid $color-white;
      border-radius: 27px;
      color: $color-white;
      font-size: $font-medium;
      font-family: $family-helvetica;
      text-transform: uppercase;
      margin: 0 10px;
      @include font-weight-bold;
      &:hover {
        background: $color-white;
        color: $color-blueChill;
        transition: all .3s ease;
      }
    }
  }
}

.shows-list-container {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.6);
  @include flex-centered;
}

.show-detail {
  padding: 20px 0;
  &__favorite {
    width: 270px;
    margin-left: 40px;
    font-size: 1.14rem;
    cursor: pointer;
    font-family: "Arial",sans-serif;
    padding: 5px 0;
    background: none;
    color: $color-white;
    border: 2px solid;
    border-radius: 4px;
    outline: none;
    &:hover {
      color: $color-blueChill;
      background: $color-white;
      border: none;
      transition: all .3s ease;
    }
  }
  &__wrapper {
    text-align: center;
    width: 355px;
  }
  &__poster {
    margin: 0 40px;
    padding-top: 15px;
    img {
      max-width: 270px !important;
      flex-wrap: wrap;
      height: 480px;
    }
  }
  &__information {
    font-size: $font-large;
    color: $color-white;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    width: 274px;
    margin: 0 auto;
    &:hover {
      color: $color-blueChill;
      transition: .3s ease;
    }
  }
}
