.show-pop-up {
  position: fixed;
  @include flex-centered;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  will-change: opacity;
  transition: opacity 225ms ease-in-out ;
  background-color: rgba(#000000, 0.75);
  z-index:  5000;
  top: 0;
  left: 0;

  &.is--opened {
    visibility: visible;
    opacity: 1;
  }

  &__wrapper{
    position: relative;
    @include flex-centered;
    width: 100%;
    max-width: 960px;
    background-color: $color-white;
  }

  &__close-button{
    @include flex-centered;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition-property: transform;
    transition-duration: .2s;
    background: none;
    position: absolute;
    &:hover {
      transform: rotate(-180deg);
    }

    &::after,
    &::before{
      position: absolute;
      content: '';
      height: 1px;
      background-color: $color-black;
      width: 100%;
      top: 50%;
      left: 50%;
    }

    &::after{
      transform:translate(-50%, -50%) rotate(-45deg);
    }

    &::before{
      transform:translate(-50%, -50%) rotate(45deg);
    }
  }

  &__left,
  &__right{ 
    @include flex-centered;
    min-height: 680px;
  }

  &__left{
    width: 60%;
  }
  
  &__right{
    width: 40%;
    padding: 0 5%;
  }

  &__information {
    font-family: $family-IBM;
    &--titulo {
      font-size: $font-medium;
      @include font-weight-bold;
    }
  }
  &__genres--titulo {
    padding-top: 15px;
    font-size: $font-medium;
    @include font-weight-bold;
  }
  &__genres {
    padding-bottom: 10px;
  }
  &__desc {
    font-size: $font-medium;
    padding-bottom: 5px;
    @include font-weight-bold;
  }
  &__description {
    width: 300px;
    font-size: $font-small;
  }
  &__data {
    font-size: $font-medium;
    @include font-weight-bold;
    padding-top: 10px;
  }
}